<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>小菊花.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4907C0D61D66E7C40057E6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4907C0EF1D66E7C40057E6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4907C0FA1D66E7C40057E6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
